{% assign post = include.post %}

<aside class="comments" role="complementary">
  <h2>Comments</h2>

  <form method="POST" action="https://api.staticman.net/v2/entry/Kraymer/kraymer.github.com/master/comments">
    <input name="options[redirect]" type="hidden" value="{{ post.url }}">
    <!-- e.g. "2016-01-02-this-is-a-post" -->
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
    <label>Nickname <input name="fields[name]" type="text"></label><br>
    <label>Message <textarea name="fields[message]"></textarea></label>

    <button type="submit">Open PR</button>
  </form>

</aside>
