{% assign post = include.post %}

<article id="post-{{ post.id | slice: 1,9999 }}" class="post" role="article">
  {% include draft_metadata.html %}

  <hr/>
    {% if post.draftnote %}
    <div class="note">
      <h5>Draft In Progress</h5>
      
      <p>Sorry for the terse prose and bullet lists.<br>
      I <a class="no-underline" href="mailto:kraymer@gmail.com?Subject=Feedbacks on draft '{{ post.title }}'" target="_top">welcome feedbacks</a> and <a class="no-underline" href="https://github.com/Kraymer/kraymer.github.com/edit/master/_drafts/{{ post.slug }}.md">pull requests</a>.<br>
      I can't promise to finish this draft, but 
      <a href='#clap-footer'>claping for it</a>
      increase the chances that I do.</p>
    </div>
    {% endif %}
    {% if post.dropcaps %}
        {% capture articleclass %}entry-content {% endcapture %}
    {% else %}
        {% capture articleclass %} {% endcapture %}
    {% endif %}
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="{{ articleclass }} post-content" itemprop="articleBody">
            {{ post.content }}
        </div>
    </article>

</article>

{% include previous_next.html %}
