<ul>
  {% for tag_key in site.sidebar_tags %}
    {% assign tag = site.data.tags[tag_key] %}
    <li>
      <a class="sidebar-nav-item {% if page.tag == tag_key %}active{% endif %}" href="{{ site.baseurl }}/tag/{{ tag_key }}/">
      {% if tag.shortname %} {{ tag.shortname | capitalize }}
      {% else %} {{ tag.name | capitalize }}
      {% endif %}
      </a>
    </li>
  {% endfor %}

  <li>
      <a class="sidebar-nav-item {% if page.tag == tag_key %}active{% endif %}" href="/fundamental_chess_endings">Fundamental chess endings</a>
      <a class="sidebar-nav-item {% if page.tag == tag_key %}active{% endif %}" href="/archives"><i>Archives</i></a>
      <a class="sidebar-nav-item {% if page.tag == tag_key %}active{% endif %}" href="/drafts" id='nav-drafts' title="Vote for the next post"><i>Drafts</i></a>
  </li>
</ul>


