<ul>
  {% for tag_key in site.sidebar_tags %}
    {% assign tag = site.data.tags[tag_key] %}
    <li>
      <a class="sidebar-nav-item {% if page.tag == tag_key %}active{% endif %}" href="{{ site.baseurl }}/tag/{{ tag_key }}/">
      {% if tag.shortname %} {{ tag.shortname | capitalize }}
      {% else %} {{ tag.name | capitalize }}
      {% endif %}
      </a>
    </li>
  {% endfor %}

  <li><span class="sidebar-nav-item"><a href="/likes">Likes</a> /
  <a href="https://github.com/Kraymer/kraymer.github.com/labels/draft" title="Vote for the next post">Drafts</a> /
  <a href="https://github.com/Kraymer/kraymer.github.com/labels/project%20idea">Ideas</a> /
  <a href="/now" title="What I'm doing now">Now</a></span>
  </span>
  </li>
</ul>
