{% assign post = include.post %}

<article id="post-{{ post.id | slice: 1,9999 }}" class="post" role="article">
  <h1 class="post-title">
    <a href="{{ post.url }}">{{ post.title }}</a>
    {% if post.link %}
        <a href="{{ post.link }}">
        {% if post.link contains "github.com" %}
            <i class='fa fa-github'></i>
        {% else %}
            <i class='fa fa-external-link'></i>
        {% endif %}
        </a>
    {% endif %}
  </h1>
  {% include post_metadata.html %}

  {% if post.description %}
    {% comment %}
      Adding the "message" class to the last (and usually only) paragraph of the description.
    {% endcomment %}
    {% capture desc %}{{ post.description }}{:.message}{% endcapture %}
    {{ desc | markdownify }}
  {% endif %}

  <hr/>

  {{ post.content }}

</article>

{% include previous_next.html %}
