{% if post.tags.size > 0 %}
{% capture tags_content %}on {% endcapture %}
{% for post_tag in post.tags %}
  {% assign tag = site.data.tags[post_tag] %}
  {% if tag %}
    {% capture tags_content_temp %}{{ tags_content }}<a href="{{ site.baseurl }}/tag/{{ post_tag }}/">{{ tag.name }}</a>
    {% if forloop.last == false %}<span>, </span>{% endif %}{% endcapture %}
    {% assign tags_content = tags_content_temp %}
  {% endif %}
{% endfor %}
{% else %}
{% assign tags_content = '' %}
{% endif %}

<div class="flexgrid">
  <div class="post-metadata flexleft">
        <a href="https://github.com/Kraymer/hydejack/commits/master/_posts/{{ post.slug }}.html">
        </a>
        <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
        <span>{{ tags_content }}</span><br>
        <i class='fa fa-share-alt'></i>
        {% capture post_url_safe %}{{ post.url | absolute_url | url_encode }}{% endcapture %}
        {% capture post_title_safe %}{{ post.title | url_encode}}{% endcapture %}
        <a href="https://news.ycombinator.com/submitlink?u={{ post_url_safe }}&amp;t={{ post_title_safe }}" target='_blank'>HN</a>,
        <a href="http://www.reddit.com/submit?url={{ post_url_safe }}&title={{ post_title_safe }}" target='_blank'>reddit</a> or
        <a href="mailto:?subject={{ post_title_safe }}&amp;body={{ post_url_safe }}" target='_blank'>mail</a>
  </div>
  <div class="post-metadata flexright">
      {% if post.edited %}
          <nobr>
          <a href="https://github.com/Kraymer/kraymer.github.com/commits/master/_posts/{{ post.date | date: '%Y-%m-%d' }}-{{ post.slug }}.md">
            <i class='fa fa-history'></i> History</a>
          </nobr><br>
      {% endif %}
      {% if post.issue %}
          <nobr>
          <a href="https://github.com/Kraymer/kraymer.github.com/issues/{{ post.issue }}"><i class='fa fa-commenting-o'></i> Comment</a>
          </nobr>
      {% endif %}
  </div>
</div>
