{% assign post = include.post %}

<article id="post-{{ post.id | slice: 1,9999 }}" class="post" role="article">
  {% include post_metadata.html %}

  <hr/>
    {% if post.dropcaps %}
        {% capture articleclass %}entry-content {% endcapture %}
    {% else %}
        {% capture articleclass %} {% endcapture %}
    {% endif %}
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="{{ articleclass }} post-content" itemprop="articleBody">
            {{ post.content }}
        </div>
    </article>

</article>

{% include previous_next.html %}
