<div   id="_backdrop" class="backdrop"></div>
<header id="_sidebar" class="sidebar" role="banner">
  <div id="_asidebar" class="container sidebar-sticky">
    <div class="sidebar-about">
    <div class="blog-title font-accent">
      <a href="{{ site.baseurl }}/" class="title" style="text-decoration: none;">Ex commito</a>
      <a href="http://kray.me/feed.xml" title="Subscribe to RSS feed"><i class='fa fa-rss'></i></a>
    </div>  
      <br>
      {{ site.description | markdownify }}

    </div>

    <nav class="sidebar-nav font-accent" role="navigation">
      {% include nav.html %}
    </nav>

    {% if site.author.social %}
    <div class="sidebar-social">
      {% include social.html social=site.author.social %}
    </div>
    {% endif %}
    <a href="{{ site.baseurl }}/" class="prev-link" title="Previous post">← </a>

    <small>
      <em>Latest commitment: <a href="https://github.com/Kraymer/kraymer.github.com/commit/{{ site.github.build_revision }}" title="Latest commitment"><codefont>#{{ site.github.build_revision | slice: 0,6 }}</codefont></a></em>
    </small>
    <a href="{{ site.baseurl }}/" class="next-link" title="Next post"> →</a>
    </div>
</header>
