<div   id="_backdrop" class="backdrop"></div>
<header id="_sidebar" class="sidebar" role="banner">
  <div id="_asidebar" class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1 class="font-accent">
        <a href="{{ site.baseurl }}/" class="title" style="text-decoration: none;">Ex c</a><a href="{{ site.baseurl }}/" class="prev-link" title="Previous post">o</a><a href="{{ site.baseurl }}/" class="title">mmit</a><a href="{{ site.baseurl }}/" class="next-link" title="Next post">o</a>
      </h1>
      <br>
      {{ site.description | markdownify }}
    </div>

    <nav class="sidebar-nav font-accent" role="navigation">
      {% include nav.html %}
    </nav>

    {% if site.author.social %}
    <div class="sidebar-social">
      {% include social.html social=site.author.social %}
    </div>
    {% endif %}

    <small>
     <em>Commit </em> <a href="https://github.com/Kraymer/kraymer.github.com/commit/{{ site.github.build_revision }}" title="Latest commitment"><codefont>{{ site.github.build_revision | slice: 0,6 }}</codefont></a></em> ⋅
     <a href="https://github.com/Kraymer/kraymer.github.com/pulls?q=is%3Apr+is%3Aopen+label%3Adraft" title="Vote for the next post">Drafts</a> ⋅
     <a href="http://kray.me/feed.xml" title="Subscribe to RSS feed">RSS <i class='fa fa-rss'></i></a>
    </small>



  </div>
</header>
