---
layout: default
---

{% assign tag = site.data.tags[page.tag] %}

{% if tag %}
  {% assign posts = site.tags[page.tag] %}

  <h1 class="page-title">{{ tag.name }}
    <a href="http://kray.me/tag/{{ page.tag }}/feed.xml" title="Subscribe to {{ tag.name }} RSS feed"><i class='fa fa-rss'></i></a>
  </h1>

  <hr/>
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul><hr/>{% endunless %}
    <h2 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h2>
    <ul class="related-posts">
    {% assign date = currentdate %}
  {% endif %}
  {% include post-list-item.html post=post format="%m/%d" %}
  {% if forloop.last %}</ul><hr/>{% endif %}
{% endfor %}
